*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #88cdf6;
}
.btn-top{
    position: fixed;
    width: 50px;
    height: auto;
    bottom: 8%;
    right: 5%;
    display: none;
}
.btn-top img{
    width: 100%;
}
@media screen and (max-width: 1024px){
    .btn-top{
        position: fixed;
        bottom: 8%;
        right: 5%;
        float: right;
    }
}